<div id="title" data-role="page">

  <header data-role="header">
    <h1>将来行きたい場所</h1>
  </header>
  <ul data-role="listview">
    <%= link_to "Search", places_path , rel: "external" %>
    
    <% @places.each_with_index do |place, i| %>
    <li>
      <%= link_to place_path(place), rel: "external" do %>
        <%= "#{place.name} // #{place.address}" %>
        <%= " #{@current_user.user_places[i].star}" %>
      <% end  %>
    </li>
    <% end  %>    
  </ul>

</div>
